<span  style="margin: 0 auto; table-layout: fixed;display: none">Meeting confirmation on - ${skills} [${meetingType}].</span>
<div marginwidth="0" marginheight="0" style="margin: 0pt auto; padding: 0px; background: #f4f7fa;">
    <table id="m_-4091483149481482359main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F4F7FA">
        <tbody>
        <tr>
            <td valign="top">
                <table class="m_-4091483149481482359innermain" cellpadding="0" width="980" cellspacing="0" border="0" bgcolor="#F4F7FA" align="center" style="margin: 0 auto; table-layout: fixed;">
                    <tbody>
                    <tr>
                        <td colspan="4">
                            <table class="m_-4091483149481482359logo" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr style="height: 30px;">
                                    <td colspan="2" style="height: 30px;"></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td valign="top" align="center" style="height: 25px;"><a href="https://www.skilapp.com" style="display: inline-block; text-align: center;" target="_blank"><img src="https://s3.amazonaws.com/power-images/SkilLogo_text.png" height="50" width="50" border="0" alt="Skil" class="CToWUd" /> </a></td>
                                </tr>
                                <tr style="height: 30px;">
                                    <td colspan="2" style="height: 30px;"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px;">
                                <tbody>
                                <tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #4e5c6e; font-size: 14px; line-height: 20px; margin-top: 20px;">
                                    <td class="m_-4091483149481482359content" colspan="2" valign="top" align="center" style="padding-left: 90px; padding-right: 90px;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="font-size: 22px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Meeting confirmation on - ${skills} [${meetingType}]</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" >
                                                    <div style="font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Hi ${name}, Your meeting has been confirmed successfully with <b>${userName}</b> and following are the details. <p><span style="font-weight: 300">If you have the <a href="http://onelink.to/skil">Skil App</a> installed, you can find this meeting in "Mentor Meetings" screen. As a mentor, you would initiate the meeting by calling the user. At the time of meeting, please call from the Meeting screen. Once connected, Initiate the Zoom meeting and request the user to join the meeting.</span></p> <p style="font-weight: 500">If you have any questions, please contact our support team at <a href="tel:+16193731918">+1-619-373-1918</a></p> </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table  style="width: 100%; border-collapse: collapse;">
                                                        <tbody align = "center" style="border: 0; padding: 0; margin-top: 20px;">
                                                        <tr>
                                                            <td width="30%" style="padding-bottom: 10px; padding-top: 10px;">Technologies</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;"><span style="font-family: 'Monaco',monospace; border: 1px solid #dae1e9; letter-spacing: 2px; padding: 5px 8px; border-radius: 4px; background-color: #f4f7fa; color: #2e7bc4;">${Technologies}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">JobRoles</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;">${JobRoles}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">Meeting Type</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;">${meetingType}</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">Meeting Time</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;">${Time}</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;"><span style="font-weight: 500">${userName}</span> Contact</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;">${userPhone}</td>
                                                        </tr>



                                                        <tr>
                                                            <td width="30%" style="padding-bottom: 10px; padding-top: 10px;">Meeting link / <br/> Meeting ID</td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;"><a href="${zoomMeetingLink}">${zoomMeetingDisplayLink}</a> /<br/> ${zoomMeetingId} <br/><a href="https://support.zoom.us/hc/en-us/articles/201362423-How-do-I-Start-or-Join-a-Scheduled-Meeting-as-the-Host-">How to start Zoom meeting</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;"><span style="font-weight: 500;color:#842210;font-size: 20px"><b>Resume Link:</b></span></td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;">${resumeURL}</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;"><span style="font-weight: 500;color:#0000cc;font-size: 20px"><b>Job Description:</b></span></td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;color:#0000cc">${jobDescription}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30%" valign="top" style="padding-bottom: 10px; padding-top: 10px;"><span style="font-weight: 500;color:#0000cc;font-size: 20px"><b>Feedback link:</b></span></td>
                                                            <td width="70%" style="padding-bottom: 10px; padding-top: 10px;color:#0000cc">
                                                                <a href="${feedbackURL}">Click here to submit the feedback...!</a>
                                                                <br/>
                                                                <span style="color: black;background-color: yellow">(to be filled upon meeting completion)</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p style="color: #9ba6b2; font-size: 14px; line-height: 24px; text-align: center;"> <a href="https://www.skilapp.com" style="color: #2e7bc4;" target="_blank" >Learn more here, on how Skil helps the community.</a>.</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p>For customer service inquiries, please contact <a href="mailto:info@skilapp.com?subject=Support on ${serviceId} - ${skills}" style="color: #2e7bc4;" target="_blank" >customer support</a>. Please include your reference code <strong>${serviceId}</strong>.</p>
                                                    <p>SKIL, Inc.</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table id="m_-4091483149481482359promo" width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 20px;">
                                <tbody>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" align="center"><span style="font-size: 14px; font-weight: 300; margin-bottom: 10px; color: #7e8a98; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;">Get the latest Skil App for your phone</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="50%" align="right"><a href="https://itunes.apple.com/us/app/skil/id1266079863?mt=8" style="display: inline-block; margin-right: 10px;" target="_blank" > <img src="https://s3.amazonaws.com/power-images/iOS_app.png" height="40" border="0" alt="Skil iOS" class="CToWUd" /> </a></td>
                                    <td valign="top"><a href="https://play.google.com/store/apps/details?id=com.s2s.skil&rdid=com.s2s.skil" style="display: inline-block; margin-left: 5px;" target="_blank" > <img src="https://s3.amazonaws.com/power-images/Android_app.png" height="40" border="0" alt="Skil " class="CToWUd" /> </a></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td height="10">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="top" align="center"><span style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #9eb0c9; font-size: 10px;">&copy; <a href="https://www.skilapp.com/" style="color: #9eb0c9!important; text-decoration: none;" target="_blank" >Skil</a> 2018 </span></td>
                                </tr>
                                <tr>
                                    <td height="50">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>