<div marginwidth="0" marginheight="0" style="margin: 0pt auto; padding: 0px; background: #f4f7fa;">

	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px;">
		<tbody>
		<tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #4e5c6e; font-size: 14px; line-height: 20px; margin-top: 20px;">
			<td class="m_-4091483149481482359content" colspan="2" valign="top" >
				<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
					<tbody>
					<tr>
						<td  >
							<div style="font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Hi Veni,
								<p style="font-weight: 500">Happy to find time for you and hema</p></div>
						</td>
					</tr>
					<tr>
						<td>
							<div style="float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Would <b style="font-weight: 500">Wednesday, Aug29th at 11.30 AM EDT(Eastern DayLight Time)</b> work?</div>
						</td>
					</tr>
					<tr>
						<td>
							<div style="float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Hema is also available for a 30 minute call:</div>
						</td>
					</tr>
					<tr>
						<td>
							<ul style="margin-left:30px";>
								<li><b style="font-weight: 500">Wednesday Aug 29 </b>from 12.30 to 5 PM</li>
								<li><b style="font-weight: 500">Thursday Aug 30 </b>from 12.30 to 5 PM</li>
							</ul>
						</td>
					</tr>
					<tr>
						<td>
							<div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">If these times don't work, feel free to <a href = "select another time">select another time</a> that might work better for you</div>
						</td>
					</tr>
					<tr>
						<td>
							<div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Just wanted to let you know that Hema would like to call you for this meeting</div>
						</td>
					</tr>
					<tr>
						<td>
							<div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Lucy</div>
						</td>
					</tr>
					<tr>
						<td>
							<div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;"> Lucy | Personal Assistant to Skilapp</div>
							<div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Want me to schedule your meetings too? <a href = "Signup">Signup</a> for your own AI assisstant from <a href = "https://www.skilapp.com/">skil.ai</a></div></br>
							<b><input type = "submit" value = "View Meeting"></b>
							<b><input type = "submit" value = "Stop Meeting"></b>
						</td>
					</tr>

					</tbody>
				</table>
			</td>
		</tr>

		</tbody>
	</table>


	<div class="yj6qo"></div>
	<div class="adL"></div>
</div>