<div marginwidth="0" marginheight="0" style="margin: 0pt auto; padding: 0px; background: #f4f7fa;">

                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px;">
                                <tbody>
                                <tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #4e5c6e; font-size: 14px; line-height: 20px; margin-top: 20px;">
                                    <td class="m_-4091483149481482359content" colspan="2" valign="top" >
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td  >
                                                    <div style="font-size: 14px; line-height: 32px; font-weight: 300; margin:auto; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color=#9633FF">
                                                        <h1>Welcome to Skil.ai</h1>
														<h3> Hi Hema, we're excited to get you started.</h3>
														<p> Be sure to <b> connect your calendar </b> and <b> set your scheduling <br> preferences </b> in <a href = "https://dev-api.iempowernow.com/b/ai"> my skil.ai.</a>
															Take sometime to explore -- you can enable <br> features, manage your meetings and view conversations with your guests <br> there.</p>
                                                    <button><a href = "http://localhost:4200/signin">Go to my Skil.ai</a></button>&nbsp;
                                                </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                </tbody>
                            </table>            
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>