<div marginwidth="0" marginheight="0" style="margin: 0pt auto; padding: 0px; background: #f4f7fa;">

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px;">
        <tbody>
        <tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #4e5c6e; font-size: 14px; line-height: 20px; margin-top: 20px;">
            <td class="m_-4091483149481482359content" colspan="2" valign="top" >
                <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                    <tbody>
                    <tr>
                        <td  >
                            <div style="font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color="#9633FF""">Hi Hema,
                            <p>Happy to get this on your Calender</p></div>
</td>
</tr>
<tr>
    <td>
        <div style="float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color="#9633FF"">I'm Currently Scheduling a meeting with following details:</div>
    </td>
</tr>
<tr>
    <td>
        <div style="float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;"><font color="#9633FF">When :</font> Negotiating times on  ${meetingdate} ${MeetingTime} with ${username}</div>
    </td>
</tr>
<tr>
    <td>
        <div style="float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;"><font color="#9633FF">Where :</font> Barista, Beach Rd, Pandurangapuram, Paanduranga Puram, Visakhapatnam, Andhra Pradesh 530003, India</div>
    </td>
</tr>
<tr>
    <td>
        <div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;"><font color="#9633FF">Who :</font> ${username} is required guest.</div>
    </td>
</tr>

<tr>
    <td>
        <div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color="#9633FF""> You can always view more details or take action on this meeting on my Skil.ai. </div>
        <div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px font color="#9633FF";">The invite will be sent out once I confirm a time with  ${username}.</div></br>
        <div style=" display: inline,float: left,font-size: 14px; line-height: 32px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color="#9633FF"">Lucy</div>
        <b><input type = "submit" value = "View Meeting"></b>
        <b><input type = "submit" value = "Stop Meeting"></b></br></br>
        <div style="font-size: 16px; line-height: 16px; font-weight: 300; margin-left: 20px; margin-right: 20px; margin-bottom: 25px; font color="#9633FF"">View my conversation with ${username} and take actions on my <a href = "https://www.skilapp.com/"> Skil.ai</a> </div>
    </td>
</tr>




</tbody>
</table>
</td>
</tr>

</tbody>
</table>


<div class="yj6qo"></div>
<div class="adL"></div>
</div>