<span  style="margin: 0 auto; table-layout: fixed;display: none"> Skil - AI - Assistant - Hello World</span>
<div marginwidth="0" marginheight="0" style="margin: 0pt auto; padding: 0px; background: #f4f7fa;">
    <table id="m_-4091483149481482359main" width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F4F7FA">
        <tbody >
        <tr>
            <td valign="top">
                <table class="m_-4091483149481482359innermain" cellpadding="0" width="580" cellspacing="0" border="0" bgcolor="#F4F7FA" align="center" style="margin: 0 auto; table-layout: fixed;">
                    <tbody >
                    <tr>
                        <td colspan="4">
                            <table class="m_-4091483149481482359logo" width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr style="height: 30px;">
                                    <td colspan="2" style="height: 30px;"></td>
                                </tr>
                                <tr style="height: 25px;">
                                    <td valign="top" align="center" style="height: 25px;"><a href="https://www.skilapp.com" style="display: inline-block; text-align: center;" target="_blank"><img src="https://s3.amazonaws.com/power-images/SkilLogo_text.png" height="50" width="50" border="0" alt="Skil" class="CToWUd" /> </a></td>
                                </tr>
                                <tr style="height: 30px;">
                                    <td colspan="2" style="height: 30px;"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="border-radius: 4px;">
                                <tbody >
                                <tr>
                                    <td valign="top" align="center">
                                        <div style="margin-top: 0px;"><a href="https://www.skilapp.com" style="display: inline-block; text-align: center;" target="_blank"></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>
                                <tr style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #4e5c6e; font-size: 14px; line-height: 20px; margin-top: 20px;">
                                    <td class="m_-4091483149481482359content" colspan="2" valign="top" align="center" style="padding-left: 90px; padding-right: 90px;">
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff">
                                            <tbody>
                                            <tr>
                                                <td align="center" valign="bottom" colspan="2" cellpadding="3"></td>
                                            </tr>
                                            <tr>
                                                <td height="30"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <div style="font-size: 22px; line-height: 32px; font-weight: 500; margin-left: 20px; margin-right: 20px; margin-bottom: 25px;">Hi, My name is -- Ninja</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table style="width: 100%; border-collapse: collapse;">
                                                        <tbody style="border: 0; padding: 0; margin-top: 20px;">


                                                        <tr>
                                                            <td align = "center" width="100%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">Welcome to Skil - AI World</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="1" bgcolor="#DAE1E9"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="100%" valign="top" style="padding-bottom: 10px; padding-top: 10px;color:#BF1F49">Hi ${name},

                                                                <p>
                                                                    I was helping you setup the Skil meeting ${meetingType}. However we found few things missing. Can you please provide me with the missing details?
                                                                </p>
                                                                <p>

                                                                    Attaching your original email as reference.


                                                                </p>
                                                                <p>Thanks</p>
                                                                <p>Dialog Flow </p>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>&nbsp;</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center">
                                                    <table style="width: 100%; border-collapse: collapse;">
                                                        <tbody style="border: 0; padding: 0; margin-top: 20px;">
                                                        <tr>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;">Technologies</td>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;"><span style="font-family: 'Monaco',monospace; border: 1px solid #dae1e9; letter-spacing: 2px; padding: 5px 8px; border-radius: 4px; background-color: #f4f7fa; color: #2e7bc4;">${Technologies}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="50%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">Meeting Type</td>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;">${meetingType}</td>
                                                        </tr>

                                                        <tr>
                                                            <td width="50%" valign="top" style="padding-bottom: 10px; padding-top: 10px;">MeetingTime</td>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;">${meetingTime}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;">Meeting Date</td>
                                                            <td style="padding-bottom: 10px; padding-top: 10px;">${meetingDate}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#DAE1E9"></td>
                                            </tr>
                                            <tr>
                                                <td height="24"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>&nbsp;</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p>For customer service, please contact <a href="mailto:info@skilapp.com" style="color: #2e7bc4;" target="_blank" >customer support</a>.</p>
                                                    <p>SKIL, Inc.</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="60"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table id="m_-4091483149481482359promo" width="100%" cellpadding="0" cellspacing="0" border="0" style="margin-top: 20px;">
                                <tbody>
                                <tr>
                                    <td colspan="2" align="center"><span style="font-size: 14px; font-weight: 500; margin-bottom: 10px; color: #7e8a98; font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;">Get the latest Skil App for your phone</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                <tr>
                                    <td valign="top" width="50%" align="right"><a href="https://itunes.apple.com/us/app/skil/id1266079863?mt=8" style="display: inline-block; margin-right: 10px;" target="_blank" > <img src="https://s3.amazonaws.com/power-images/iOS_app.png" height="40" border="0" alt="Skil iOS" class="CToWUd" /> </a></td>
                                    <td valign="top"><a href="https://play.google.com/store/apps/details?id=com.s2s.skil&rdid=com.s2s.skil" style="display: inline-block; margin-left: 5px;" target="_blank" > <img src="https://s3.amazonaws.com/power-images/Android_app.png" height="40" border="0" alt="Skil Android" class="CToWUd" /> </a></td>
                                </tr>
                                <tr>
                                    <td colspan="2" height="20"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                <tr>
                                    <td height="10">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="top" align="center"><span style="font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif; color: #9eb0c9; font-size: 10px;">&copy; <a href="https://www.skilapp.com/" style="color: #9eb0c9!important; text-decoration: none;" target="_blank" >Skil</a> 2018 </span></td>
                                </tr>
                                <tr>
                                    <td height="50">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL"></div>
</div>